@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
@import url(https://kit.fontawesome.com/a987ecc469.js);

* {
  font-family: "Oswald", sans-serif;
  
}

p {
  text-align: center;
}



/* Helpers */
/**************************/
.margin-top-10 {
  padding-top: 10px;
}

#parallax-world-of-ugg {
  margin: auto 3%;
}

/* Typography */
/**************************/
#parallax-world-of-ugg h1 {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  padding: 0;
  margin: 0;
}

#parallax-world-of-ugg h2 {
  font-size: 70px;
  letter-spacing: 10px;
  text-align: center;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 10;
  opacity: 0.9;
}
#parallax-world-of-ugg h3 {
  font-size: 14px;
  line-height: 0;
  font-weight: 400;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: black;
}
#parallax-world-of-ugg p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.first-character {
  font-weight: 400;
  float: left;
  font-size: 84px;
  line-height: 64px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: "Source Sans Pro", sans-serif;
}

.bo {
  color: #3b8595;
}
.ec {
  color: #3d3c3a;
}

/* Section - Title */
/**************************/
#parallax-world-of-ugg .title {
  background: white;
  padding: 60px;
  margin: 0 auto;
  text-align: center;
}

#parallax-world-of-ugg .title h1 {
  font-size: 65px;
  letter-spacing: 8px;
}

#parallax-world-of-ugg .title h3 {
  font-size: 25px;
  letter-spacing: 8px;
}

/* Section - Block */
/**************************/
#parallax-world-of-ugg .block {
  background: white;
  padding: 40px;
  width: 70%;
  margin: 0 auto;
  text-align: justify;
}

#parallax-world-of-ugg .block-gray {
  background: #f2f2f2;
  padding: 60px;
}
#parallax-world-of-ugg .section-overlay-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
}

/* Section - Parallax */
/**************************/

#parallax-world-of-ugg .parallax-one h2 {
  font-size: 45px;
}
#parallax-world-of-ugg .parallax-one {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1521043388745-6c3cb22e8550?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  border-radius: 10px;
}

#parallax-world-of-ugg .parallax-two h2 {
  font-size: 45px;
}

#parallax-world-of-ugg .parallax-two {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1509747129352-c4244f0b9bf9?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  border-radius: 10px;
}

#parallax-world-of-ugg .parallax-three h2 {
  font-size: 25px;
}

#parallax-world-of-ugg .parallax-three {
  padding-top: 4%;
  padding-bottom: 10px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1605123308459-abb648aa4f66?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  border-radius: 10px;
}

/* Extras */
/**************************/
#parallax-world-of-ugg .line-break {
  border-bottom: 1px solid black;
  width: 150px;
  margin: 0 auto;
}

/* Style inputs with type="text", select elements and textareas */
input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: large;
  background-color: #b3b1ae7c;
  color: rgb(189, 186, 186);
}

/* Input type text > Placeholder class text color */
input[type="text"]::placeholder,
textarea::placeholder {
  color: rgb(228, 226, 226);
}

/* Style inputs with type="email" */
input[type="email"] {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: large;
  background-color: #b3b1ae7c;
  color: #fff;
}

/* Input type email > Placeholder class text color */

input[type="email"]::placeholder {
  color: rgb(228, 226, 226);
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: transparent;
  color: rgb(216, 214, 214);
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: large;
  transition: all 0.5s ease-in-out;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #b3b1ae7c;
  color: #f7f7f7;
  letter-spacing: 5px;
  font-size: larger;
  box-shadow: 2px 2px 10px #b8b6b6,
  -2px -2px 10px #f8f6f6;
  transition: all 0.5s ease-in-out;
}

/* Add a background color and some padding around the form */
.container {
  margin: 1rem auto;
  padding: 2px;
  max-width: 500px;
}

/* Footer */

.social-container {
  display: flex;
  justify-content: center;
  margin-top: 1px;
}

a {
  color: #fff;
  background-color: transparent;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  position: relative;
  display: block;
  width: 50px;
  height: 40px;
  padding-top: 12px;
  margin: 0 2px;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s ease-in-out;
  -webkit-font-smoothing: antialiased;
}

a:hover {
  background-color: #b3b1ae7c;
  box-shadow: 2px 2px 10px #b8b6b6,
  -2px -2px 10px #f8f6f6;
  font-size: 20px;
  transition: all 0.1s ease-in-out;
}

/* Media Queries */
/**************************/

@media screen and (max-width: 959px) {
  #parallax-world-of-ugg .block {
    padding: 30px;
    width: 720px;
  }
  #parallax-world-of-ugg .parallax-three {
    padding-top: 50px;
    padding-bottom: 18px;
  }
  .container {
    margin: 3rem auto;
    padding: 2px;
    width: 75%;
    /* border: 1px solid green; */
  }
}

@media screen and (max-width: 767px) {
  #parallax-world-of-ugg .block {
    padding: 30px;
    width: 520px;
  }
  #parallax-world-of-ugg h2 {
    font-size: 30px;
  }
  #parallax-world-of-ugg .block {
    padding: 30px;
  }
  #parallax-world-of-ugg .parallax-one,
  #parallax-world-of-ugg .parallax-two {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  #parallax-world-of-ugg .parallax-three {
    padding-top: 50px;
    padding-bottom: 18px;
  }
  .container {
    margin: 3rem auto;
    padding: 2px;
    width: 70%;
    /* border: 1px solid green; */
  }
}
@media screen and (max-width: 479px) {
  #parallax-world-of-ugg .block {
    padding: 30px 15px;
    width: 290px;
  }
}
